app/hprof_analysis/
mmat/hprof_analysis/
mmat/src/test/assets/*.index
hprof_analysis/*.index
report/
*.iml
.idea/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
